<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Pantalla de llamada propia de MOVA: sustituye a la del sistema cuando MOVA es el teléfono. -->
    <application>
        <activity
            android:name=".InCallActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:theme="@style/Theme.MovaPhone.Call" />
    </application>
</manifest>
